<mat-toolbar  class="navbar">
  <button mat-icon-button (click)="toggle()">

    <mat-icon > menu </mat-icon>
  </button>
  <span>CT-Hospital</span>
  <div class="spacer"></div>
  <a href="" mat-button>AboutUs</a>
  <!-- <a href="" mat-raised-button>Sign Out</a> -->
  <button mat-button [matMenuTriggerFor]="menu"> {{authService.getUserLoggedInName()}}</button>
<mat-menu #menu="matMenu">
  <button (click)="logout()" mat-menu-item>Sign Out</button>
  <!-- <button mat-menu-item>Item 2</button> -->
</mat-menu>
</mat-toolbar>
