 <!-- <app-header></app-header>
 <app-sidenav style="width: 50%;"></app-sidenav> 
 <div class="container"  style="height:100%">
   <app-sidenav></app-sidenav> 
   <router-outlet></router-outlet>
   <div class="row" >
    
    <div class="col-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>  
</div>   -->

  <!-- <div style="width: 20%;">
    <app-sidenav></app-sidenav> 
  </div>
  <span>
    <div style="width: 30%;"> -->
      <!-- <app-header></app-header>
<div class="row">
  <div class="col-md-3">

    <app-sidenav></app-sidenav> 
  </div>
  <div class="col-md-9">

    
  </div>
</div> -->
<!-- <app-registration-patient></app-registration-patient> -->
 <!-- <router-outlet></router-outlet> -->
    <!-- </div>
  </span> -->
  <!-- <app-patient-detail></app-patient-detail> -->

  <!-- <app-header></app-header>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    
  </mat-drawer-content>
</mat-drawer-container> -->
<router-outlet></router-outlet>

