



<!--  -->

<section class="bg-light pt-5 pb-5 shadow-sm">
  <div class="container">
    <div class="row pt-5">
        <div class="col-12">
          <h1 class="text-uppercase border-bottom mb-4"><b>Login as :</b></h1>
        </div>
      </div>
    <div class="row">
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      
      <div class="col-lg-2 mb-3 d-flex align-items-stretch">
        <div class="card">
            <a routerLink="/login/admin">
                 <img src="../../assets/admin.jfif" class="card-img-top img-responsive"  alt="Admin"  title="Admin">
            </a>
       <!-- <div class="card-body d-flex flex-column">
              <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a>
          </div> -->
        </div>
      </div>
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-2 mb-3 d-flex align-items-stretch">
        <div class="card">
            <a href="#">
          <img src="../../assets/doctor.png" class="card-img-top img-responsive " alt="Card Image">
            </a>
          <!-- <div class="card-body d-flex flex-column">
              <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a>
          </div> -->
        </div>
      </div>
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-2 mb-3 d-flex align-items-stretch">
        <div class="card">
            <a href="#">
          <img src="../../assets/patient.png" class="card-img-top img-responsive" alt="Card Image">
            </a>
          <!-- <div class="card-body d-flex flex-column">
           <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>